[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
setuptools = "*"

[packages]
boto3 = "*"
click = "*"
pytz = "*"

[requires]
python_version = "3.8"
